@use "../abstracts/variables" as *;

/* ==============================
   CARRITO
============================== */

.carrito-contenedor {
  max-width: 600px;
  margin: auto;
  background-color: $blanco;
  padding: 2rem;
  border-radius: $radio-base;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
