@use "../abstracts/variables" as *;

/* ==============================
   HOME
============================== */

.bienvenida {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.15rem;
  }
}
