@use "../abstracts/mixins" as *;

/* ==============================
   GRID GENERAL
============================== */

.grid-productos {
  @include grid(4, 1.5rem);

  @include tablet {
    @include grid(2, 1rem);
  }

  @include mobile {
    @include grid(1, 1rem);
  }
}
