@use "../abstracts/variables" as *;
@use "../abstracts/extends" as *;

/* ==============================
   PRODUCT CARDS
============================== */

.producto-card {
  @extend %card-base;
  @extend %hover-anim;

  border: 1px solid $verde-claro;
  padding: 1rem;
  text-align: center;

  .img-producto {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: $radio-base;
    margin-bottom: 0.5rem;
  }

  h3, h5 {
    margin-top: 0.5rem;
  }

  .precio {
    font-size: 1.2rem;
    font-weight: bold;
    color: $verde-oscuro;
    margin-bottom: 0.5rem;
  }
}
