@use "../abstracts/variables" as *;

/* ==============================
   BASE TYPOGRAPHY
============================== */

body {
  font-family: $fuente-base;
  background-color: $blanco-perla;
  color: $texto-principal;
  line-height: 1.6;
}

/* Títulos */
h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: $verde-oscuro;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

/* Párrafos */
p {
  font-size: 1.1rem;
  color: darken($texto-principal, 10%);
}
